{%  load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><div><img id="logo" src="{% static 'img/goat.jpeg' %}"></div></li>
                    {% if user.is_authenticated %}
{#                        <li><div><img id="logo" src="{% static 'img/goat.jpeg' %}"></div></li>#}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% elif not user.is_authenticated %}
                        <li><a href="{% url "login" %}">Login</a></li>
                        <li><a href="{% url "register" %}">Register</a></li>
                    {% endif %}
                    {% block link %}
                    {% endblock link %}
{#                    <li><a href="{% url 'article' %}">Article</a></li>#}
                </ul>
            </nav>
        </header>
    <div id="wrapper">{% block content %}{% endblock content %}
    <footer>
        <hr>
        <p>Copyright by Niki Macomber and Mike Lee</p>
    </footer>
    </div>
    </body>
</html>