{% extends "base_template.html" %}


{% block title %}{%  endblock title %}
{% block link %}{%  endblock link %}
{% block content %}
    <h1>Welcome to Profile</h1>
    <ol>
       <h4>Current Words to Learn</h4>
        {% for word in current %}
            <li><a href="{%  url "article" word.id %}">{{ word.word_name }}</a></li>

        {% endfor %}
    </ol>
    <ul>

        <h4>Words Already Learned</h4>
        {% for word in finished %}
            <li><a href="{% url "article" word.id %}">{{ word.word_name }}</a></li>
        {% endfor %}
    </ul>
{%  endblock content %}